<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>行人重识别安全性分析系统</title>
<!--	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />-->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/htmleaf-demo.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.eeyellow.Timeline.css')}}" />
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>

	<div class="htmleaf-container">
		<header class="htmleaf-header">
			<h1>行人重识别安全性分析系统 <span>A Security Analysis System for Person Re-identification</span></h1>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="VivaTimeline">
						<dl>
<!--						#####################################预处理#############################3-->
						<dt>预处理</dt>
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">Upload</div>
							<div class="events" style="width:660px;">
								<div class="events-header" style="color:rgb(0, 168, 74);">模型上传</div>
								<div class="events-body" >
									<div class="row" >
										<div style="padding-bottom: 20px;text-align:center;margin：auto;">请将模型重命名为model.h5，以zip格式压缩后上传</div>
										<div id="dataset_name" style="padding-bottom: 20px; color:red;"></div>
										<div style="margin：auto;">
											<form method=post  enctype=multipart/form-data id="formdataset_sSubmit">
												<center  style="padding-right: 35px;">
												<label for="choose_dataset_file" class="btn btn-lg btn-success" style="margin-right: 37px">选择模型</label>
												<input id="choose_dataset_file" type=file name=file style="display:none">

	<!--											<label  class="btn btn-lg btn-primary" onclick="upload_model_submit">上传服务器</label>-->

													<label for="upload_dataset" class="btn btn-lg btn-success" >上传服务器</label>
													<input id="upload_dataset" type=submit value=Upload style="display:none">
												</center>
											</form>
										</div>
										<br>
									</div>
								</div>
							</div>
						</dd>
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">Mask</div>
							<div class="events" style="width:660px;">
								<div class="events-header" style="color:rgb(0, 168, 74);">对抗性图案形状选择</div>
								<div class="events-body">
									<div class="row" >
										<div style="padding-bottom: 20px;text-align:center;margin：auto;">请选择一个蒙版形状，这是您生成的对抗性图案的形状</div>
										<form class="form-horizontal"  method=psot enctype=multipart/form-data  id="mask_formSubmit">
											<div class="Grid" style="padding-left:30px;padding-bottom: 10px;margin：auto;">
												<div class="Grid-cell" style="width:100px;" >
													<img src="{{ url_for('static', filename='img/rectangle.jpg')}}" style="width: 70px;height: 70px;">
													<div style="height: 10px"></div>
													<input name="mask" value="Rectangle" type="radio"  checked="checked"> 长方形
												</div>

												<div class="Grid-cell" style="width:100px;" >
													<img src="{{ url_for('static', filename='img/qq.jpg')}}" style="width: 70px;height:70px;">
													<div style="height:10px"></div>
												<input name="mask" value="QQ" type="radio"> QQ
												</div>
												<div class="Grid-cell"style="width:100px;" >
													<img src="{{ url_for('static', filename='img/github.jpg')}}" style="width: 70px;height:70px;">
													<div style="height: 10px"></div>
												<input name="mask" value="Github" type="radio"> Github
												</div>
												<div class="Grid-cell"style="width:100px;" >
													<img src="{{ url_for('static', filename='img/android.jpg')}}" style="width: 70px;height:70px;">
													<div style="height: 10px"></div>
													<input name="mask" value="Android" type="radio"> Android
												</div>
											</div>
											<center style="padding-right: 35px;">
												<label for="upload_mask" class="btn  btn-lg btn-success">确定上传蒙版形状</label>
												<input id="upload_mask" type=submit value=Upload style="display:none">
											</center>
										</form>
									</div>
								</div>
							</div>
						</dd>
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">Start</div>
							<div class="events" style="width:660px;">
								<div class="events-header" style="color:rgb(0, 168, 74);">开始生成对抗性样本</div>
								<div class="events-body">
									<div class="row" >
<!--										<form method=post enctype=multipart/form-data id="adv_start_submit">-->
											<center style="padding-right: 35px;">
											<label  class="btn btn-lg btn-success" style="width: 150px;" onclick="adv_start_submit()">启动</label>
<!--											<input id="adv_start" type=submit value=Upload style="display:none">-->
											</center>
<!--										</form>-->
									</div>
								</div>
							</div>
						</dd>
<!--						#####################################对抗性图案生成#############################3-->
						<dt>对抗性图案生成</dt>
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">Dist</div>
							<div class="events">
								<div class="events-header">训练参数量化</div>
								<div class="events-body">
									<div class="row" >
										<div>特征差异放大</div>
										<div id="dist" style="width:1200px; height:500px;"></div>
									</div>
									<div class="row" >
										<div>Loss损失函数优化</div>
										<div id="bar" style="width:1200px; height:500px;"></div>
									</div>
								</div>
								<div class="events-footer">
<!--									123-->
								</div>
							</div>
						</dd>
<!--						<dd class="pos-right clearfix">-->
<!--							<div class="circ"></div>-->

<!--							<div class="time">Loss</div>-->
<!--							<div class="events">-->
<!--								<div class="events-header">损失函数优化</div>-->
<!--								<div class="events-body">-->

<!--								</div>-->
<!--							</div>-->
<!--						</dd>-->
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">Process</div>
							<div class="events" >
								<div class="events-header">对抗样本生成过程</div>
								<div class="events-body">
									<div class="row" >
										<div class="Grid" style="padding-bottom: 10px;padding-left:40px;">
											<div class="Grid-cell" style="width:100px;" >
												<img id="adv_photo0" src="{{ url_for('static', filename=adv_photo0)}}" style="width: 150px;height: 270px;">
												<div style="height: 10px;padding-left: 75px">1</div>
											</div>

											<div class="Grid-cell" style="width:100px;" >
												<img id="adv_photo1" src="{{ url_for('static', filename=adv_photo1)}}" style="width: 150px;height: 270px;">
												<div style="height: 10px;padding-left: 75px">2</div>
											</div>
											<div class="Grid-cell" style="width:100px;" >
												<img id="adv_photo2" src="{{ url_for('static', filename=adv_photo2)}}"  style="width: 150px;height: 270px;">
												<div style="height: 10px;padding-left: 75px">3</div>
											</div>
											<div class="Grid-cell" style="width:100px;" >
												<img id="adv_photo3"  src="{{ url_for('static', filename=adv_photo3)}}" style="width: 150px;height: 270px;">
												<div style="height: 10px;padding-left: 75px">4</div>
											</div>
											<div class="Grid-cell" style="width:100px;" >
												<img id="adv_photo4"  src="{{ url_for('static', filename=adv_photo4)}}" style="width: 150px;height: 270px;">
												<div style="height: 10px;padding-left: 75px">5</div>
											</div>
											<div class="Grid-cell" style="width:100px;" >
												<img id="adv_photo5"  src="{{ url_for('static', filename=adv_photo5)}}"  style="width: 150px;height: 270px;">
												<div style="height: 10px;padding-left: 75px">6</div>
											</div>
										</div>
									</div>
									<div class="row">
									</div>
								</div>
<!--								<div class="events-footer">-->
<!--									123-->
<!--								</div>-->
							</div>
						</dd>
<!--						#####################################数据域安全性分析#############################3-->
						<dt>数据域安全性分析</dt>
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">advPattern</div>
							<div class="events" style="width:660px;">
								<div class="events-header">生成的对抗性图案</div>
								<div class="events-body">
									<div class="row" >
										<div>下图为最终生成的对抗性图案，您可以将这个图案打印出来，用于物理域的安全性评估</div>
										<center>
											<img id="advPattern"  src="{{ url_for('static', filename=advPattern)}}"
												 style="width: 300px;height: 300px;" onclick="download()">
											<center style="padding-right: 35px;">
												<label  class="btn btn-lg btn-primary" onclick="download()">下载</label>
	<!--											<div style="height: 300px;padding-left: 300px"></div>-->
											</center>
										</center>
									</div>
								</div>
							</div>
						</dd>						
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">Evaluate</div>
							<div class="events"  style="width:660px;">
								<div class="events-header">安全性指标评估</div>
								<div class="events-body">
									<div class="row" >
										<div>我们以下面两个指标来评估您模型的安全性：</div>
<!--										<p>   </p>-->
										<div>平均检索精度（mean Average Precision）:<br>
											mAP是全面衡量行人重识别算法效果的指标，<br>
											他反应检索的人在底库中的所有正确图片排在结果队列前面的程度，
											而不仅是首位命中。</div>
										<br/>
										<div>rank-n:<br>
											搜索结果中最靠前，即置信度最高的n张图，有正确结果的概率。<br>
											表明了行人重识别在要求前n张中正确行人图片时的准确度。</div>
										<br/><br/>
										<div>您的模型安全性评估各项指标如下所示</div>
										<p id="rank1" style="color:red"></p>
										<p id="rank5" style="color:red"></p>
										<p id="rank10" style="color:red"></p>
										<p id="mAP" style="color:red"></p>
<!--										<div >mAP= </div>-->
<!--										<div>rank1 acc=</div>-->
<!--										<div>rank5 acc=</div>-->
<!--										<div>rank10 acc=</div>-->
									</div>
								</div>
							</div>
						</dd>
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">Analysis</div>
							<div class="events" style="width:660px;">
								<div class="events-header">分析与建议</div>
								<div class="events-body">
									<div class="row" >

										<div id="evaluate_result1"></div>
										<div id="evaluate_result2"></div>
<!--										<div>以上指标中，mAP低于理想值XX，您的行人重识别模型存在较大的安全隐患</div>-->
<!--										<div>以上指标中，rankn低于理想值XX，您的行人重识别模型存在较大的安全隐患</div>-->
<!--										<div>以上指标中，mAP高于理想值XX、rankn高于理想值XX。您的行人重识别模型安全性能良好</div>-->
									</div>
								</div>
							</div>
						</dd>
						<dd class="pos-right clearfix">
							<div class="circ"></div>
							<div class="time">END</div>
<!--							<div class="events" style="width:0px;">-->
<!--								<div class="events-header"></div>-->
<!--								<div class="events-body">-->
<!--									<div class="row" >-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
						</dd>
<!--						<dt>Dec 2015</dt>-->
<!--						<dt>Oct 2015</dt>-->
<!--						<dt>Sep 2015</dt>-->
<!--						<dt>Aug 2015</dt>-->
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="http://libs.useso.com/js/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js')}}"><\/script>')</script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.eeyellow.Timeline.js')}}"></script>
<!--	<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.VivaTimeline').vivaTimeline({
				carousel: true,
				carouselTime: 3000
			});
		});

	</script>
    <script>
        var chart_bar = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
		var chart_dist = echarts.init(document.getElementById('dist'), 'white', {renderer: 'canvas'});
        var old_data = [];
		var old_data_dist = [];
        $(
            function () {
                fetchData(chart_bar);
				fetch_dist_data(chart_dist);
				evaluate_calc();
				evaluate_result()
                //setInterval(getDynamicData, 2000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "/lineChart",
                dataType: "json",
                success: function (result) {
                    chart_bar.setOption(result);
                    old_data = chart_bar.getOption().series[0].data;
                }
            });
        }
        function fetch_dist_data() {
            $.ajax({
                type: "GET",
                url: "/dist_Chart",
                dataType: "json",
                success: function (result) {
                    chart_dist.setOption(result);
                    old_data_dist = chart_dist.getOption().series[0].data;
                }
            });
        }	

        function getDynamicData() {
            $.ajax({
                type: "GET",
                url: "/lineDynamicData",
                dataType: "json",
                success: function (result) {
                    old_data.push([result.name, result.value]);
                    chart.setOption({
                        series: [{data: old_data}]
                    });
                }
            });
        }
        function getDynamicData() {
            $.ajax({
                type: "GET",
                url: "/lineDynamicData",
                dataType: "json",
                success: function (result) {
                    old_data.push([result.name, result.value]);
                    chart.setOption({
                        series: [{data: old_data}]
                    });
                }
            });
        }	
        function evaluate_calc() {
            $.ajax({
                type: "GET",
                url: "/evaluate_calc",
                dataType: "json",
                success: function (result) {
					$("#mAP").text("mAP="+result.mAP+"%");
					$("#rank1").text("rank1="+result.rank1+"%");
					$("#rank5").text("rank5="+result.rank5+"%");
					$("#rank10").text("rank10="+result.rank10+"%");
                }
            });
        }
        function evaluate_result() {
            $.ajax({
                type: "GET",
                url: "/evaluate_result",
                dataType: "json",
                success: function (result) {
                	//evaluate_result=result.evaluate_result.replace(/[\n\r]/g,'<br>')
					$("#evaluate_result1").text(result.evaluate_result1);
					$("#evaluate_result2").text(result.evaluate_result2);
                }
            });
        }
        function download() {
        	window.location.replace("http://127.0.0.1:5000/download")
        	//window.location.href = "/download"
            //$.ajax({
            //    type: "GET",
            //    url: "/download",
            //    dataType: "json",
            //    success: function (result) {
			//		//$("#evaluate_result").text(result.evaluate_result);
            //    }
            //});
        }
    </script>
<script>
	$('#formdataset_sSubmit').submit(function (event) {
		//首先验证文件格式
		var fileName = $(this).find("input[name=file]").val();
		if (fileName === '') {
			alert('请选择您的行人重识别模型');
			return false;
		}
		alert("即将开始上传，请勿操作，点击确定继续");
		// mulitipart form,如文件上传类
		var formData = new FormData(this);
		$.ajax({
			async: false,
			type: "POST",
			url: "/upload_model",
			data: formData,
			dataType: "JSON",
			mimeType: "multipart/form-data",
			contentType: false,
			cache: false,
			processData: false,
			success: function (data) {
				alert('上传模型成功');
			},
            error:function(e){
				alert('上传模型失败');
            }
		});
		return false;
	});
	$('#mask_formSubmit').submit(function (event) {
		//首先验证文件格式
		// var fileName = $(this).find("input[name=file]").val();
		// if (fileName === '') {
		// 	alert('请选择文件');
		// 	return;
		// }
		// mulitipart form,如文件上传类
		//alert('上传蒙版形状');
		var formData = new FormData(this);
		//var mask=formdata.get("mask")
		//alert('选择'+mask+'上传');
		$.ajax({
			async: false,
			type: "POST",
			url: "/post_select_mask",
			data: formData,
			dataType: "JSON",
			mimeType: "multipart/form-data",
			contentType: false,
			cache: false,
			processData: false,
			success: function (data) {
				alert('上传蒙版形状成功');
			},
            error:function(e){
				alert('上传蒙版形状失败');
            }
		});
		return false;
	});
		function adv_start_submit(){
		   	$.ajax({
                type: "GET",
                url: "/adv_start_submit",
                dataType: "json",
				success: function (data) {
					alert('启动！');
					window.location.href = "/adv_run";
				},
				error:function(e){
					alert('启动失败');
				}
            });
		}
</script>
</body>
</html>